In [25]:
import pandas as pd  
# Panda is a libarary for DataAnalysis and DataFrames are the power tools of pandas
# Datframes have rows and columns, rows have indexes

In [26]:
df=pd.read_csv("C:\\data\\DataScience\\Projects\\capstone\\proj1\\Toddler Autism dataset.csv")
type(df)

# Attributes of Dataframe : columns, shape, index
df.columns 
df.shape
df.index

RangeIndex(start=0, stop=1054, step=1)

In [27]:
idx=df.index
cols=df.columns
print(type(idx))
print(type(cols))

<class 'pandas.core.indexes.range.RangeIndex'>
<class 'pandas.core.indexes.base.Index'>

In [28]:
# DataFrame Slicing

df.iloc[1:2,:]   # df.iloc[start_index:end_index(exclude), :]

,Case_No,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,Age_Mons,Qchat-10-Score,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,ASD
1,2,1,1,0,0,0,1,1,0,0,0,36,4,m,White European,yes,no,family member,Yes

In [29]:
#DataFrame Methods
df.info()
df.head()
df.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1054 entries, 0 to 1053
Data columns (total 19 columns):
Case_No                   1054 non-null int64
A1_Score                  1054 non-null int64
A2_Score                  1054 non-null int64
A3_Score                  1054 non-null int64
A4_Score                  1054 non-null int64
A5_Score                  1054 non-null int64
A6_Score                  1054 non-null int64
A7_Score                  1054 non-null int64
A8_Score                  1054 non-null int64
A9_Score                  1054 non-null int64
A10_Score                 1054 non-null int64
Age_Mons                  1054 non-null int64
Qchat-10-Score            1054 non-null int64
Sex                       1054 non-null object
Ethnicity                 1054 non-null object
Jaundice                  1054 non-null object
Family_mem_with_ASD       1054 non-null object
Who completed the test    1054 non-null object
ASD                       1054 non-null object
dtypes: int64(13), object(6)
memory usage: 156.5+ KB

,Case_No,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,Age_Mons,Qchat-10-Score,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,ASD
1049,1050,0,0,0,0,0,0,0,0,0,1,24,1,f,White European,no,yes,family member,No
1050,1051,0,0,1,1,1,0,1,0,1,0,12,5,m,black,yes,no,family member,Yes
1051,1052,1,0,1,1,1,1,1,1,1,1,18,9,m,middle eastern,yes,no,family member,Yes
1052,1053,1,0,0,0,0,0,0,1,0,1,19,3,m,White European,no,yes,family member,No
1053,1054,1,1,0,0,1,1,0,1,1,0,24,6,m,asian,yes,yes,family member,Yes

In [30]:
#Dataframe Broadcasting

In [36]:
eth = df['Ethnicity']

In [37]:
print(eth)

0       middle eastern
1       White European
2       middle eastern
3             Hispanic
4       White European
5                black
6                asian
7                asian
8                asian
9          south asian
10            Hispanic
11      middle eastern
12      middle eastern
13      middle eastern
14      middle eastern
15               black
16      middle eastern
17      middle eastern
18      middle eastern
19               black
20      middle eastern
21      middle eastern
22       Native Indian
23      middle eastern
24      White European
25      middle eastern
26      middle eastern
27              Others
28      middle eastern
29      middle eastern
             ...
1024             asian
1025             asian
1026    White European
1027    White European
1028            Latino
1029    White European
1030       south asian
1031            Others
1032    White European
1033       south asian
1034    White European
1035            Others
1036             asian
1037    White European
1038             asian
1039             asian
1040    White European
1041    White European
1042          Hispanic
1043             asian
1044             asian
1045    middle eastern
1046    middle eastern
1047    White European
1048    White European
1049    White European
1050             black
1051    middle eastern
1052    White European
1053             asian
Name: Ethnicity, Length: 1054, dtype: object

In [38]:
print(eth.values)

['middle eastern' 'White European' 'middle eastern' ..., 'middle eastern'
 'White European' 'asian']